.left-right {
    overflow:hidden;
    height:200px;
    width:200px;
    position:relative;
    background-color:#333;
}
.slider {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius:6px;
    background-color: #fff;
    position:absolute;
    top:-300px;
    transition:0.4s ease;
}
.slider-vis {
  top:0px;
}
.slider-top-vis {
  bottom:0;
  top:0;
  left:0;
  right:0;
  opacity:1 !important;
}
