/*############################################################################*/
/*################################# Cerulean #################################*/
/*############################################################################*/
:root {
  --bs-blue: #033c73;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #c71c22;
  --bs-orange: #fd7e14;
  --bs-yellow: #dd5600;
  --bs-green: #73a839;
  --bs-teal: #20c997;
  --bs-cyan: #2fa4e7;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #868e96;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #868e96;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #2fa4e7;
  --bs-secondary: #e9ecef;
  --bs-success: #73a839;
  --bs-info: #033c73;
  --bs-warning: #dd5600;
  --bs-danger: #c71c22;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
  --bs-primary-rgb: 47, 164, 231;
  --bs-secondary-rgb: 233, 236, 239;
  --bs-success-rgb: 115, 168, 57;
  --bs-info-rgb: 3, 60, 115;
  --bs-warning-rgb: 221, 86, 0;
  --bs-danger-rgb: 199, 28, 34;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 52, 58, 64;
  --bs-primary-text-emphasis: #13425c;
  --bs-secondary-text-emphasis: #5d5e60;
  --bs-success-text-emphasis: #2e4317;
  --bs-info-text-emphasis: #01182e;
  --bs-warning-text-emphasis: #582200;
  --bs-danger-text-emphasis: #500b0e;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #d5edfa;
  --bs-secondary-bg-subtle: #fbfbfc;
  --bs-success-bg-subtle: #e3eed7;
  --bs-info-bg-subtle: #cdd8e3;
  --bs-warning-bg-subtle: #f8ddcc;
  --bs-danger-bg-subtle: #f4d2d3;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #acdbf5;
  --bs-secondary-border-subtle: #f6f7f9;
  --bs-success-border-subtle: #c7dcb0;
  --bs-info-border-subtle: #9ab1c7;
  --bs-warning-border-subtle: #f1bb99;
  --bs-danger-border-subtle: #e9a4a7;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #495057;
  --bs-body-color-rgb: 73, 80, 87;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(73, 80, 87, 0.75);
  --bs-secondary-color-rgb: 73, 80, 87;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(73, 80, 87, 0.5);
  --bs-tertiary-color-rgb: 73, 80, 87;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: #2fa4e7;
  --bs-link-color: #2fa4e7;
  --bs-link-color-rgb: 47, 164, 231;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #2683b9;
  --bs-link-hover-color-rgb: 38, 131, 185;
  --bs-code-color: #e83e8c;
  --bs-highlight-color: #495057;
  --bs-highlight-bg: #f8ddcc;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6; 
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(47, 164, 231, 0.25);
  --bs-form-valid-color: #73a839;
  --bs-form-valid-border-color: #73a839;
  --bs-form-invalid-color: #c71c22;
  --bs-form-invalid-border-color: #c71c22;
}


/* btn */
:root{
  --bs-btn-color: #fff;
  --bs-btn-bg: #2fa4e7; /* bayasColors */
  --bs-btn-border-color: #2fa4e7;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #288bc4;
  --bs-btn-hover-border-color: #2683b9;
  --bs-btn-focus-shadow-rgb: 78, 178, 235;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2683b9;
  --bs-btn-active-border-color: #237bad;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2fa4e7;
  --bs-btn-disabled-border-color: #2fa4e7;
}


/* Cerulean specific colors not declared in bs5 root */
/* Some colors are also used in ui elements or plots that cannot be styled with the class attribute. */
/* 'bayasColors' should also be defined in function 'bayasColors' in Style/Colors.R */
:root {
  
  --color-hover: #555;
  --color-active: #353535;
  --color-hover-active: #262626;
  
  --navbar-separators: #178acc;
  
  --navbar-hexButtons-hover: #eee;
  --navbar-hexButtons-active: white;
  
  --border-color-primary: 47, 164, 231;  /* --bs-btn-bg */
  
  --datatable-cell-click: gray;
  
  --plotColor-div-a: #56B4E92E;
  --plotColor-div-b: #E69F002E;
  --planningExampleBtn-bg: #e3e3e3;
  --planningExampleBtn-bg-primary: aliceblue;

  --disabled-text: var(--bs-gray-500); /* #adb5bd */

  --trash-hover: var(--color-hover); /*previously #3e3e3e */
  --trash-active: var(--color-active); /*previously #353535 */
  --trash-hover-active: var(--color-hover-active); /*previously #262626 */
  
  
  --btn-alt-color: #fff;
  --btn-alt-bg-image-a: #54b4eb; 
  --btn-alt-bg-image-b: #2fa4e7; /* --bs-btn-disabled-bg */
  --btn-alt-bg-image-c: #1d9ce5;

  --modalBackButton-bg-image-a: #e8f4ff;
  --modalBackButton-bg-image-b: #f5fbff;

  --modalBackButton-bg-image-hover-a: #ceeaff;
  --modalBackButton-bg-image-hover-b: #eef7ff;

  --modelExplanation-hover: #d1eaff;

  --reportProgressElement-bg: #75aadb;
  --reportProgressElement-bg-hover: #d3eaf6;
  
  --shinyTree-hovered: #d1eaff;
  --shinyTree-selected: #c2e3ff;

  /* bayasColors */
  --font-error: #c71c22; /* --bs-danger */
  --font-warning: #dd5600; /* --bs-warning */

  --highlight-selection: #d1eaff;

  --plotPreHist-color-1: lightblue;
  --plotPreHist-color-2: black;
  
  --plotDiff_range_a: grey;
  --plotDiff_range_b: #377EB8;
  
  --plotVerificationLoo-good: #178acc;
  --plotVerificationLoo-ok: grey;
  --plotVerificationLoo-bad: red;
  --plotVerificationLoo-veryBad: darkred;
  
  --tb-cell-colors-1: #B13433;
  --tb-cell-colors-2: #8D472B;
  --tb-cell-colors-3: #675E24;
  --tb-cell-colors-4: #45731E;
  --tb-cell-colors-5: #2E7F18;

  --samplingESS-colors-1: darkred;
  --samplingESS-colors-2: darkkhaki;
  --samplingESS-colors-3: #93c16c;
  --samplingESS-colors-4: darkgreen;
 
  --effectMatrix-colors-1: #e65050; 
  --effectMatrix-colors-2: #fff; 
  --effectMatrix-colors-3: #377EB8; 
  
  --creatingData-colors-1: #fff;
  --creatingData-colors-2: black;
  --creatingData-colors-3: red;
  --creatingData-colors-4: #FF6666;
  
  --formula-color-1: black;
  --formula-color-2: #033c73; /* --bs-blue */ 
  --formula-color-3: #73a839; /* --bs-green */ 
  --formula-color-4: #555;
  --formula-color-5: darkgrey;
  
  --modelCreatingPlot-color-1: lightblue;
  --modelCreatingPlot-color-2: grey;
  --modelCreatingPlot-color-3: orange;
  --modelCreatingPlot-color-4: blue;
  --modelCreatingPlot-color-5: red;
  
  --modelCreatingPlot-color-values-1: #999999;
  --modelCreatingPlot-color-values-2: #03396c;
  --modelCreatingPlot-color-values-3: #8F2727;
  --modelCreatingPlot-color-values-4: #E69F00;
  --modelCreatingPlot-color-values-5: #56B4E9;

  --modelCreatingPlotROPE-color-values-1: darkred;
  --modelCreatingPlotROPE-color-values-2: darkgreen;
}

